

//
// Custom styles
//
$body-text-colour: #151826;     // Dark colour for text
$secondary-body-text-colour: #151826;  //Secondary colour for text
$body-bg: #F1EBE4;              // Light Grey
$highlight-colour: #FFA41C;     // Bright orange - Buttons - Secondary highlight colour
$secondary-highlight: #FFD814;  // Light Yellow for buttons
$secondary-body-bg: #3F4B8C;    // Secondary Bg color


body {
    padding: 3rem 1.5rem;
    background-color: rgb(40, 201, 126);
    font-size: 1.4rem;
}
  
